<div style="text-align: center;">
  <app-selectornumerico minimo="1" maximo="10" #selector1 ></app-selectornumerico>
  <br>
  <button (click)="selector1.fijar(1)">Fijar en 1 </button>
  <button (click)="selector1.fijar(5)">Fijar en 5 </button>
  <button (click)="selector1.fijar(10)">Fijar en 10 </button>


  <app-selectornumerico minimo="1" maximo="10" #selector2></app-selectornumerico>
  <br>
  <button (click)="selector2.fijar(1)">Fijar en 1 </button>
  <button (click)="selector2.fijar(5)">Fijar en 5 </button>
  <button (click)="selector2.fijar(10)">Fijar en 10 </button>
</div>